@font-face {
    font-family: 'Geist';
    src: url('/font/GeistPixel-Grid.ttf') format('truetype');
}

:root {
    --green: oklch(79.2% 0.209 151.711);
    --red: oklch(63.7% 0.237 25.331);
    --black: oklch(13% 0.028 261.692);
    --white: oklch(98.4% 0.003 247.858);
    --orange: oklch(79.5% 0.184 86.047);
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--black);
    font-family: 'Geist', sans-serif;
    color: var(--white);
    font-size: 2.5rem;
}

main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.screen{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marquee-viewport{
    overflow: hidden;
    padding-left: 1rem;
}

.marquee-track {
    display: inline-flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    will-change: transform;
    animation: marquee var(--marquee-duration, 60s) linear infinite;
}

.marquee-group {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    white-space: nowrap;
    gap: 1rem;
    padding-right: 1rem;
}

.ticket {
    display: flex;
    align-items: baseline;
    white-space: nowrap;
    gap: 0.4rem;
}

.ticket.down .price{
    color: var(--red);
}
.ticket.down .chg{
    color: var(--red);
}

.ticket.up .price{
    color: var(--green);
}

.ticket.up .chg{
    color: var(--green);
}

#ticket{
    padding-right: 1rem;
}
@keyframes marquee {
    from { transform: translateX(0); }
    to   { transform: translateX(-50%); }
}