@font-face {
    font-family: 'Geist';
    src: url('./font/GeistPixel-Grid.ttf') format('truetype');
}

:root {
    --green: #06df72;
    --red: #fb2c36;
    --black: #030712;
    --white: #f8fafc;
    --orange: #f0b100;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--black);
    font-family: 'Geist', sans-serif;
    color: var(--white);
    font-size: 2.5rem;
}

main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.screen{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marquee-viewport{
    overflow: hidden;
    padding-left: 1rem;
}

.marquee-track {
    display: inline-flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    will-change: transform;
    animation: marquee var(--marquee-duration, 60s) linear infinite;
}

.marquee-group {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    white-space: nowrap;
    gap: 1rem;
    padding-right: 1rem;
}

.ticket {
    display: flex;
    align-items: baseline;
    white-space: nowrap;
    gap: 0.4rem;
}

.ticket.down .price{
    color: var(--red);
}
.ticket.down .chg{
    color: var(--red);
}

.ticket.up .price{
    color: var(--green);
}

.ticket.up .chg{
    color: var(--green);
}

#ticket{
    padding-right: 1rem;
}
@keyframes marquee {
    from { transform: translateX(0); }
    to   { transform: translateX(-50%); }
}